@model DailySoccer.Shared.Models.GetSelectedTicketRespond

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("SubmitSelectedWinner", "Winner", FormMethod.Post))
{

    <input type="hidden" name="rewardId" value="@ViewBag.RewardId" />
<div>
    <h4>GetSelectedTicketRespond</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            รางวัลที่เหลือ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RewardRemainingAmount)
        </dd>

        <dt>
            จำนวนผู้ส่งชิงโชค
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketAmount)
        </dd>

    </dl>
    <div class="col-xs-6">
        รายชื่อผู้ส่งชิงโชคทั้งหมด
        <table class="table table-bordered table-striped">
            <tr>
                <th>Id</th>
                <th>เบอร์โทรติดต่อ</th>
                <th></th>
            </tr>
            @foreach (var ticket in Model.AllTicket)
            {
                <tr>
                    <td>@ticket.Id</td>
                    <td>@ticket.DisplayName</td>
                    <td><a class="btn btn-default pull-right" href="@Url.Action("SelectTicket", new { rewardId = ViewBag.RewardId, ticketId = ticket.Id })">เลือก</a></td>
                </tr>
            }
        </table>
    </div>
    <div class="col-xs-6">
        รายชื่อผู้ได้รับรางวัล
                <table class="table table-bordered table-striped" >
                    <tr>
                        <th>Id</th>
                        <th>เบอร์โทรติดต่อ</th>
                        <th></th>
                    </tr>
                    @foreach (var ticket in Model.SelectedTicket)
                    {
                        <tr>
                            <td>@ticket.Id</td>
                            <td>@ticket.DisplayName</td>
                            <td><a class="btn btn-default pull-right" href="@Url.Action("CalcelSelectedTicket", new { rewardId = ViewBag.RewardId, ticketId = ticket.Id })">ยกเลิก</a></td>
                        </tr>
                    }
                </table>

                <button type="submit" class="btn btn-success">ยืนยัน</button>
        <div></div>
    </div>
    <div class="clearfix"></div>
</div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
