@model DailySoccer.Shared.Models.RewardGroupInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RewardGroupInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiredDate)
        </dd>

    </dl>
    <br />
    <div class="pull-right"><a class="btn btn-info" href="@Url.Action("CreateReward", new { id = Model.Id })">เพิ่ม</a></div>
    <br />
    <br />

    @foreach (var reward in Model.RewardInfo)
    {
        <div class="row">
            <div class="col-xs-2">@reward.ImagePath</div>
            <div class="col-xs-6">
                <div>@reward.Name</div>
                <div>@reward.Description</div>
                <div>@reward.Amount</div>
                <div>@reward.RemainingAmount</div>
            </div>
            <div class="col-xs-4">manage me</div>
        </div>
    }

</div>
